<a href="/"><h1 class="text-yellow-500 px-[10px] items-center bg-gray-950 text-center font-bold w-full text-[50px]">Confirmation de suppression</h1></a><br>

<p class="text-black-600 text-[3vw] text-center font-bold">Voulez-vous vraiment supprimer cette tâche ?</p>

<p class="text-red-600 text-[1.5vw] text-center font-bold"><strong>Titre :</strong> <%= @task.title %></p>
<p class="text-red-600 text-[1.5vw] text-center font-bold"><strong>Description :</strong> <%= @task.description %></p>
<p class="text-red-600 text-[1.5vw] text-center font-bold"><strong>Jour d'execution :</strong> <%= @task.dayforexecution %></p>


<div class="text-center pt-[2vh] my-[2vh]">
    <%= button_to 'Confirmer la suppression', task_path(@task), method: :delete, class: "bg-green-500 mb-[2vh] items-center cursor-pointer hover:text-white text-xl rounded p-2 font-bold"  %>
    <%= link_to 'Annuler', tasks_path,  class: "cursor-pointer hover:text-white bg-red-500 text-xl rounded p-2 font-bold"  %>
</div>